<!DOCTYPE html>
<html lang="ko">
<head>
	<meta CHARSET="UTF-8">
	<title>Saeron - Employee Management System</title>
</head>
<body>
<script>
setTimeout(
function (){
	var url = '/emp/login';
	var name = 'Saeron';
    var options = 'top=10, left=10, width=1500, height=920, status=no, menubar=no, toolbar=no, resizable=no, scrollbars=no, fullscreen=yes';
    window.open(url, name, options);
}, 500)
</script>

<!-- HTML -->
<a href="javascript:openWindowPop('/emp/login', 'popup');">팝업창 열기?</a>


</body>
</html>