<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">



<!--function showPopup(){
var url = '/emp/register';
var name = 'Saeron - Register';
var options = 'top=10, left=10, width=500, height=400, status=no, menubar=no, toolbar=no, resizable=no, scrollbars=no, fullscreen=yes';
window.open(url, name, options);
}-->


<th:block layout:fragment="script">
	<script th:inline="javascript">
function showPopup(){
	window.open("www.naver.com", "a", "width=400, height=300");
}

	</script>
</th:block>

<div th:fragment="header" class="header">
	<!-- header start -->
	<div class="row align-wh-center">
		<nav class="navbar navbar-expand-sm align-wh-center navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
						<a class="nav-link" href="/emp/list">직원목록</a>
						<a class="nav-link" href="/emp/register">직원등록</a>
						<a class="nav-link" href="#">Pricing</a>
						<a class="nav-link disabled">Disabled</a>
					</div>
				</div>
			</div>
		</nav>
	</div>
	<!-- header end -->
</div>
</html>